In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df = pd.read_excel('datset.xlsx', sheet_name='Sheet1')

In [7]:
# Clean missing values
# Handle CustomerName
df['CustomerName'].fillna('Unknown', inplace = True)

In [8]:
# Fix TotalSales, UnitPrice, and Quantity where possible
# Compute TotalSales where missing
mask = df['TotalSales'].isna() & df['Quantity'].notna() & df['UnitPrice'].notna()
df.loc[mask, 'TotalSales'] = df['Quantity'] * df['UnitPrice']

In [9]:
# Compute UnitPrice where missing
mask = df['UnitPrice'].isna() & df['TotalSales'].notna() & df['Quantity'].notna()
df.loc[mask, 'UnitPrice'] = df['TotalSales'] / df['Quantity']

In [23]:
# Compute Quantity where missing
mask = df['Quantity'].isna() & df['TotalSales'].notna() & df['UnitPrice'].notna()
df.loc[mask, 'Quantity'] = df['TotalSales'] / df['UnitPrice']

In [22]:
# Fill remaining UnitPrice with product averages
product_avg = df.groupby('Product')['UnitPrice'].transform('mean')
df['UnitPrice'].fillna(product_avg, inplace=False)

0     700.00
1     300.00
2      50.00
3     720.00
4     298.75
5     100.00
6     200.00
7     680.00
8     295.00
9      55.00
10    710.00
11    210.00
12     95.00
13    700.00
14    290.00
15    195.00
16    450.00
17    200.00
18    310.00
19    700.00
Name: UnitPrice, dtype: float64

In [21]:
# Fill remaining Quantity with median
df['Quantity'].fillna(df['Quantity'].median(), inplace=False)

0      2.0
1      5.0
2     10.0
3      1.0
4      3.0
5      4.0
6      2.0
7      2.0
8      4.0
9      6.0
10     1.0
11     2.0
12     3.0
13     2.0
14     1.0
15     3.0
16     2.0
17     1.0
18     2.0
19     1.0
Name: Quantity, dtype: float64

In [24]:
# Recalculate TotalSales to ensure consistency
df['TotalSales'] = df['Quantity'] * df['UnitPrice']

In [25]:
# Task 1: Sum of sales by region
sum_sales_region = df.groupby('Region')['TotalSales'].sum().reset_index()

In [26]:
# Task 2: Average sales per product
avg_sales_product = df.groupby('Product')['TotalSales'].mean().reset_index()

In [27]:
# Task 3: Highest & lowest selling products (by revenue)
total_sales_per_product = df.groupby('Product')['TotalSales'].sum()
highest_product = total_sales_per_product.idxmax()
lowest_product = total_sales_per_product.idxmin()

In [28]:
# Task 4: NumPy calculations for numerical fields
numerical_data = df[['Quantity', 'UnitPrice', 'TotalSales']]
mean_values = np.mean(numerical_data, axis=0)
median_values = np.median(numerical_data, axis=0)
std_values = np.std(numerical_data, axis=0)

In [29]:

# Display results
print("Sum of Sales by Region:")
print(sum_sales_region)
print("\nAverage Sales per Product:")
print(avg_sales_product)
print(f"\nHighest Selling Product (Revenue): {highest_product}")
print(f"Lowest Selling Product (Revenue): {lowest_product}")
print("\nStatistical Measures:")
print("Means:\n", mean_values)
print("Medians:\n", median_values)
print("Standard Deviations:\n", std_values)

Sum of Sales by Region:
  Region  TotalSales
0   East     2520.00
1  North     4661.25
2  South     3830.00
3   West     3785.00

Average Sales per Product:
        Product   TotalSales
0    Headphones   415.000000
1      Keyboard   342.500000
2        Laptop  1048.333333
3  Mobile Phone   897.250000
4       Monitor   468.333333
5   Smart Watch   200.000000
6        Tablet   900.000000

Highest Selling Product (Revenue): Laptop
Lowest Selling Product (Revenue): Smart Watch

Statistical Measures:
Means:
 Quantity        2.8500
UnitPrice     362.9375
TotalSales    739.8125
dtype: float64
Medians:
 [  2.    296.875 660.   ]
Standard Deviations:
 Quantity        2.127792
UnitPrice     240.424519
TotalSales    411.008720
dtype: float64